# Ignore specific CSS and JavaScript files
webflow.js
js/webflow.js
js/webflow-long.js
css/healthdashboard.webflow.css

# Ignore node_modules directory
node_modules/

# Ignore build output
dist/

# Ignore environment variables
.env

# Ignore documents
documents/OFL.txt

# Ignore Folders
images/
fonts/

# Ignore VS code folder
.vscode/

# crypto keys
id_rsa_priv.pem
id_rsa_pub.pem
priv_key.pem
pub_key.pem



