# Ignore specific CSS and JavaScript files
webflow.js
js/webflow.js
js/webflow-long.js
css/healthdashboard.webflow.css

# Ignore node_modules directory
node_modules/

# Ignore build output
dist/

# Ignore environment variables
.env

# Ignore documents
OFL.txt

# Ignore Folders
/Images
/Fonts


